<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XML Spy v4.1 U (http://www.xmlspy.com) by namhl (FIS - CMCSOFT) -->
<Root Version="130">	

	
	
	<Menu ID="18" PopID="101" ParentID="108" Caption="Báo cáo tài chính bộ 15 BCTC" FormName="" Year="1" Month="0" ThreeMonth="0" Day="0" FinanceYear="0" Icon="..\Pictures\tk_tncn.bmp">
		<Validity StartDate="23/06/2006" InterfaceTemplate="..\InterfaceTemplates\Excel\15_BCTC.xls" ReportTemplate="..\ReportTemplates\Excel\15_BCTC.xls" Class="Tax_Business_Srv.cls_15_BCTC">
			<Sheet ID="01" Caption="CĐKT" Active="1" TemplateFolder="..\InterfaceTemplates\xml\" Folder="..\DataFiles\" DataFile="15_01_CDKT" Ini="..\Ini\15_01_CDKT.xml"/>
			<Sheet ID="01-1" Caption="KQHĐSXKD" Active="1" TemplateFolder="..\InterfaceTemplates\xml\" Folder="..\DataFiles\" DataFile="15_02_SXKD" Ini="..\Ini\15_02_SXKD.xml"/>
			<Sheet ID="01-2" Caption="LCTTTT" Active="1" TemplateFolder="..\InterfaceTemplates\xml\" Folder="..\DataFiles\" DataFile="15_03_LCTTTT" Ini="..\Ini\15_03_LCTTTT.xml"/>
			<Sheet ID="01-3" Caption="LCTTGT" Active="1" TemplateFolder="..\InterfaceTemplates\xml\" Folder="..\DataFiles\" DataFile="15_04_LCTTGT" Ini="..\Ini\15_04_LCTTGT.xml"/>
			<Sheet ID="KHBS" Caption="KHBS" Active="0" TemplateFolder="..\InterfaceTemplates\xml\" Folder="..\DataFiles\" DataFile="KHBS" Ini="..\Ini\KHBS.xml"/>
		</Validity>
	</Menu>
		<Menu ID="69" PopID="101" ParentID="108" Caption="Báo cáo tài chính bộ 15 BCTC10" FormName="" Year="1" Month="0" ThreeMonth="0" Day="0" FinanceYear="0" Icon="..\Pictures\tk_tncn.bmp">
		<Validity StartDate="23/06/2006" InterfaceTemplate="..\InterfaceTemplates\Excel\15_BCTC10.xls" ReportTemplate="..\ReportTemplates\Excel\15_BCTC10.xls" Class="Tax_Business_Srv.cls_15_BCTC10">
			<Sheet ID="01" Caption="CĐKT" Active="1" TemplateFolder="..\InterfaceTemplates\xml\" Folder="..\DataFiles\" DataFile="15_01_CDKT10" Ini="..\Ini\15_01_CDKT10.xml"/>
			<Sheet ID="01-1" Caption="KQHĐSXKD" Active="1" TemplateFolder="..\InterfaceTemplates\xml\" Folder="..\DataFiles\" DataFile="15_02_SXKD10" Ini="..\Ini\15_02_SXKD10.xml"/>
			<Sheet ID="01-2" Caption="LCTTTT" Active="1" TemplateFolder="..\InterfaceTemplates\xml\" Folder="..\DataFiles\" DataFile="15_03_LCTTTT10" Ini="..\Ini\15_03_LCTTTT10.xml"/>
			<Sheet ID="01-3" Caption="LCTTGT" Active="1" TemplateFolder="..\InterfaceTemplates\xml\" Folder="..\DataFiles\" DataFile="15_04_LCTTGT10" Ini="..\Ini\15_04_LCTTGT10.xml"/>
			<Sheet ID="KHBS" Caption="KHBS" Active="0" TemplateFolder="..\InterfaceTemplates\xml\" Folder="..\DataFiles\" DataFile="KHBS" Ini="..\Ini\KHBS.xml"/>
		</Validity>
	</Menu>
	
	<Menu ID="19" PopID="101" ParentID="109" Caption="Báo cáo tài chính bộ 48 BCTC" FormName="" Year="1" Month="0" ThreeMonth="0" Day="0" FinanceYear="0" Icon="..\Pictures\tk_tncn.bmp">
		<Validity StartDate="14/09/2006" InterfaceTemplate="..\InterfaceTemplates\Excel\48_BCTC11.xls" ReportTemplate="..\ReportTemplates\Excel\48_BCTC11.xls" Class="Tax_Business_Srv.cls_48_BCTC">
			<Sheet ID="01" Caption="CĐKT" Active="1" TemplateFolder="..\InterfaceTemplates\xml\" Folder="..\DataFiles\" DataFile="48_01_CDKT13" Ini="..\Ini\48_01_CDKT13.xml"/>
			<Sheet ID="01-1" Caption="KQHĐSXKD" Active="1" TemplateFolder="..\InterfaceTemplates\xml\" Folder="..\DataFiles\" DataFile="48_02_SXKD13" Ini="..\Ini\48_02_SXKD13.xml"/>
			<Sheet ID="01-2" Caption="LCTTTT" Active="1" TemplateFolder="..\InterfaceTemplates\xml\" Folder="..\DataFiles\" DataFile="48_03_LCTTTT13" Ini="..\Ini\48_03_LCTTTT13.xml"/>
			<Sheet ID="01-3" Caption="LCTTGT" Active="1" TemplateFolder="..\InterfaceTemplates\xml\" Folder="..\DataFiles\" DataFile="48_04_LCTTGT13" Ini="..\Ini\48_04_LCTTGT13.xml"/>
			<Sheet ID="01-4" Caption="CĐTK" Active="1" TemplateFolder="..\InterfaceTemplates\xml\" Folder="..\DataFiles\" DataFile="48_05_CDTK13" Ini="..\Ini\48_05_CDTK13.xml"/>
			<Sheet ID="KHBS" Caption="KHBS" Active="0" TemplateFolder="..\InterfaceTemplates\xml\" Folder="..\DataFiles\" DataFile="KHBS" Ini="..\Ini\KHBS.xml"/>
		</Validity>
	</Menu>	
	<Menu ID="20" PopID="101" ParentID="110" Caption="Báo cáo tài chính bộ 16 BCTC" FormName="" Year="1" Month="0" ThreeMonth="0" Day="0" FinanceYear="0" Icon="..\Pictures\tk_tncn.bmp">
		<Validity StartDate="18/04/2007" InterfaceTemplate="..\InterfaceTemplates\Excel\16_BCTC.xls" ReportTemplate="..\ReportTemplates\Excel\16_BCTC.xls" Class="Tax_Business_Srv.cls_16_BCTC">
			<Sheet ID="01" Caption="CĐKT" Active="1" TemplateFolder="..\InterfaceTemplates\xml\" Folder="..\DataFiles\" DataFile="16_01_CDKT" Ini="..\Ini\16_01_CDKT.xml"/>
			<Sheet ID="01-1" Caption="KQHĐSXKD" Active="1" TemplateFolder="..\InterfaceTemplates\xml\" Folder="..\DataFiles\" DataFile="16_02_SXKD" Ini="..\Ini\16_02_SXKD.xml"/>
			<Sheet ID="01-2" Caption="LCTTTT" Active="1" TemplateFolder="..\InterfaceTemplates\xml\" Folder="..\DataFiles\" DataFile="16_03_LCTTTT" Ini="..\Ini\16_03_LCTTTT.xml"/>
			<Sheet ID="01-3" Caption="LCTTGT" Active="1" TemplateFolder="..\InterfaceTemplates\xml\" Folder="..\DataFiles\" DataFile="16_04_LCTTGT" Ini="..\Ini\16_04_LCTTGT.xml"/>
			<Sheet ID="KHBS" Caption="KHBS" Active="0" TemplateFolder="..\InterfaceTemplates\xml\" Folder="..\DataFiles\" DataFile="KHBS" Ini="..\Ini\KHBS.xml"/>
		</Validity>
	</Menu>
	<Menu ID="21" PopID="101" ParentID="111" Caption="Báo cáo tài chính bộ 99 BCTC" FormName="" Year="1" Month="0" ThreeMonth="0" Day="0" FinanceYear="0" Icon="..\Pictures\tk_tncn.bmp">
		<Validity StartDate="13/06/2000" InterfaceTemplate="..\InterfaceTemplates\Excel\99_BCTC.xls" ReportTemplate="..\ReportTemplates\Excel\99_BCTC.xls" Class="Tax_Business_Srv.cls_99_BCTC">
			<Sheet ID="01" Caption="CĐKT" Active="1" TemplateFolder="..\InterfaceTemplates\xml\" Folder="..\DataFiles\" DataFile="99_01_CDKT" Ini="..\Ini\99_01_CDKT.xml"/>
			<Sheet ID="01-10" Caption="phần I" Active="1" TemplateFolder="..\InterfaceTemplates\xml\" Folder="..\DataFiles\" DataFile="99_02_1_SXKD" Ini="..\Ini\99_02_1_SXKD.xml"/>
			<Sheet ID="02-11" Caption="phần II" Active="1" TemplateFolder="..\InterfaceTemplates\xml\" Folder="..\DataFiles\" DataFile="99_02_2_SXKD" Ini="..\Ini\99_02_2_SXKD.xml"/>
			<Sheet ID="03-12" Caption="phần III" Active="1" TemplateFolder="..\InterfaceTemplates\xml\" Folder="..\DataFiles\" DataFile="99_02_3_SXKD" Ini="..\Ini\99_02_3_SXKD.xml"/>
			<Sheet ID="01-2" Caption="LCTTTT" Active="1" TemplateFolder="..\InterfaceTemplates\xml\" Folder="..\DataFiles\" DataFile="99_03_LCTTTT" Ini="..\Ini\99_03_LCTTTT.xml"/>
			<Sheet ID="01-3" Caption="LCTTGT" Active="1" TemplateFolder="..\InterfaceTemplates\xml\" Folder="..\DataFiles\" DataFile="99_04_LCTTGT" Ini="..\Ini\99_04_LCTTGT.xml"/>
			<Sheet ID="KHBS" Caption="KHBS" Active="0" TemplateFolder="..\InterfaceTemplates\xml\" Folder="..\DataFiles\" DataFile="KHBS" Ini="..\Ini\KHBS.xml"/>
		</Validity>
	</Menu>	
	<Menu ID="22" PopID="101" ParentID="112" Caption="Báo cáo tài chính bộ 95 BCTC" FormName="" Year="1" Month="0" ThreeMonth="0" Day="0" FinanceYear="0" Icon="..\Pictures\tk_tncn.bmp">
		<Validity StartDate="01/01/1900" InterfaceTemplate="..\InterfaceTemplates\Excel\95_BCTC11.xls" ReportTemplate="..\ReportTemplates\Excel\95_BCTC11.xls" Class="Tax_Business_Srv.cls_95_BCTC">
			<Sheet ID="01" Caption="Cân đối tài khoản" Active="1" TemplateFolder="..\InterfaceTemplates\xml\" Folder="..\DataFiles\" DataFile="95_01_CDKT" Ini="..\Ini\95_01_CDKT.xml"/>
			<Sheet ID="01-1" Caption="KQHĐSXKD" Active="1" TemplateFolder="..\InterfaceTemplates\xml\" Folder="..\DataFiles\" DataFile="95_02_SXKD" Ini="..\Ini\95_02_SXKD.xml"/>
			<Sheet ID="01-2" Caption="LCTTTT" Active="1" TemplateFolder="..\InterfaceTemplates\xml\" Folder="..\DataFiles\" DataFile="95_03_LCTTTT" Ini="..\Ini\95_03_LCTTTT.xml"/>
			<Sheet ID="01-3" Caption="LCTTGT" Active="1" TemplateFolder="..\InterfaceTemplates\xml\" Folder="..\DataFiles\" DataFile="95_04_LCTTGT" Ini="..\Ini\95_04_LCTTGT.xml"/>
			<Sheet ID="KHBS" Caption="KHBS" Active="0" TemplateFolder="..\InterfaceTemplates\xml\" Folder="..\DataFiles\" DataFile="KHBS" Ini="..\Ini\KHBS.xml"/>
		</Validity>
	</Menu>
	
	
	<Menu ID="108" PopID="" ParentID="101" Caption="Báo cáo tài chính bộ 15 - Cho DN" FormName="" Year="1" Month="0" ThreeMonth="0" Day="0" FinanceYear="0" Icon="..\Pictures\kekhai.gif"/>	
	<Menu ID="55" PopID="101" ParentID="108" Caption="Bảng cân đối kế toán" FormName="" Year="1" Month="0" ThreeMonth="0" Day="0" FinanceYear="0" Icon="..\Pictures\tk_tncn.bmp">
		<Validity StartDate="23/06/2006" InterfaceTemplate="..\InterfaceTemplates\Excel\15_01_CDKT.xls" ReportTemplate="..\ReportTemplates\Excel\15_01_CDKT.xls" Class="Tax_Business_Srv.cls_15_01_CDKT">
			<Sheet ID="01" Caption="CĐKT" Active="1" TemplateFolder="..\InterfaceTemplates\xml\" Folder="..\DataFiles\" DataFile="15_01_CDKT" Ini="..\Ini\15_01_CDKT.xml"/>
			<Sheet ID="KHBS" Caption="KHBS" Active="0" TemplateFolder="..\InterfaceTemplates\xml\" Folder="..\DataFiles\" DataFile="KHBS" Ini="..\Ini\KHBS.xml"/>
		</Validity>
	</Menu>
	<Menu ID="56" PopID="101" ParentID="108" Caption="Kết quả HĐSXKD" FormName="" Year="1" Month="0" ThreeMonth="0" Day="0" FinanceYear="0" Icon="..\Pictures\tk_tncn.bmp">
		<Validity StartDate="23/06/2006" InterfaceTemplate="..\InterfaceTemplates\Excel\15_02_SXKD.xls" ReportTemplate="..\ReportTemplates\Excel\15_02_SXKD.xls" Class="Tax_Business_Srv.cls_15_02_SXKD">
			<Sheet ID="01" Caption="KQHĐSXKD" Active="1" TemplateFolder="..\InterfaceTemplates\xml\" Folder="..\DataFiles\" DataFile="15_02_SXKD" Ini="..\Ini\15_02_SXKD.xml"/>
			<Sheet ID="KHBS" Caption="KHBS" Active="0" TemplateFolder="..\InterfaceTemplates\xml\" Folder="..\DataFiles\" DataFile="KHBS" Ini="..\Ini\KHBS.xml"/>
		</Validity>
	</Menu>
	<Menu ID="57" PopID="101" ParentID="108" Caption="Lưu chuyển tiền tệ (Trực tiếp)" FormName="" Year="1" Month="0" ThreeMonth="0" Day="0" FinanceYear="0" Icon="..\Pictures\tk_tncn.bmp">
		<Validity StartDate="23/06/2006" InterfaceTemplate="..\InterfaceTemplates\Excel\15_03_LCTTTT.xls" ReportTemplate="..\ReportTemplates\Excel\15_03_LCTTTT.xls" Class="Tax_Business_Srv.cls_15_03_LCTTTT">
			<Sheet ID="01" Caption="LCTTTT" Active="1" TemplateFolder="..\InterfaceTemplates\xml\" Folder="..\DataFiles\" DataFile="15_03_LCTTTT" Ini="..\Ini\15_03_LCTTTT.xml"/>
			<Sheet ID="KHBS" Caption="KHBS" Active="0" TemplateFolder="..\InterfaceTemplates\xml\" Folder="..\DataFiles\" DataFile="KHBS" Ini="..\Ini\KHBS.xml"/>
		</Validity>
	</Menu>
	<Menu ID="58" PopID="101" ParentID="108" Caption="Lưu chuyển tiền tệ (Gián tiếp)" FormName="" Year="1" Month="0" ThreeMonth="0" Day="0" FinanceYear="0" Icon="..\Pictures\tk_tncn.bmp">
		<Validity StartDate="23/06/2006" InterfaceTemplate="..\InterfaceTemplates\Excel\15_04_LCTTGT.xls" ReportTemplate="..\ReportTemplates\Excel\15_04_LCTTGT.xls" Class="Tax_Business_Srv.cls_15_04_LCTTGT">
			<Sheet ID="01" Caption="LCTTGT" Active="1" TemplateFolder="..\InterfaceTemplates\xml\" Folder="..\DataFiles\" DataFile="15_04_LCTTGT" Ini="..\Ini\15_04_LCTTGT.xml"/>
			<Sheet ID="KHBS" Caption="KHBS" Active="0" TemplateFolder="..\InterfaceTemplates\xml\" Folder="..\DataFiles\" DataFile="KHBS" Ini="..\Ini\KHBS.xml"/>
		</Validity>
	</Menu>	
	
	
	<Menu ID="109" PopID="" ParentID="101" Caption="Báo cáo tài chính bộ 48 - Cho DN" FormName="" Year="1" Month="0" ThreeMonth="0" Day="0" FinanceYear="" Icon="..\Pictures\kekhai.gif"/>
	<Menu ID="24" PopID="101" ParentID="109" Caption="BC DKSL dầu khí KT và TL tạm nộp thuế(01/BCTL-DK)" FormName="" Year="1" Month="0" ThreeMonth="0" Day="0" FinanceYear="0" Icon="..\Pictures\tk_tncn.bmp">
		<Validity StartDate="01/01/1900" InterfaceTemplate="..\InterfaceTemplates\Excel\01_BCTL_DK11.xls" ReportTemplate="..\ReportTemplates\Excel\01_BCTL_DK11.xls" Class="Tax_Business_Srv.cls_01_BCTL_DK">
			<Sheet ID="01" Caption="01/BCTL-DK" Active="1" TemplateFolder="..\InterfaceTemplates\xml\" Folder="..\DataFiles\" DataFile="01_BCTL_DK13" Ini="..\Ini\01_BCTL_DK13.xml"/>
			<Sheet ID="KHBS" Caption="KHBS" Active="0" TemplateFolder="..\InterfaceTemplates\xml\" Folder="..\DataFiles\" DataFile="KHBS" Ini="..\Ini\KHBS.xml"/>
		</Validity>
	</Menu>
	<Menu ID="25" PopID="101" ParentID="104" Caption="TK-TNCN Mẫu 01/KK-BHĐC" FormName="" Year="1" Month="1" ThreeMonth="0" Day="0" FinanceYear="0" Icon="..\Pictures\tk_tncn.bmp">
		<Validity StartDate="01/01/1900" InterfaceTemplate="..\InterfaceTemplates\Excel\01_TNCN_BHDC11.xls" ReportTemplate="..\ReportTemplates\Excel\01_TNCN_BHDC11.xls" Class="Tax_Business_Srv.cls_01TNCN_BHDC">
			<Sheet ID="01" Caption="Tờ khai" Active="1" TemplateFolder="..\InterfaceTemplates\xml\" Folder="..\DataFiles\" DataFile="01_TNCN_BHDC13" Ini="..\Ini\01_TNCN_BHDC13.xml"/>
			<Sheet ID="KHBS" Caption="KHBS" Active="0" TemplateFolder="..\InterfaceTemplates\xml\" Folder="..\DataFiles\" DataFile="KHBS_01_KK_BHDC" Ini="..\Ini\KHBS_01_KK_BHDC.xml"/>
		</Validity>
	</Menu>
	<Menu ID="23" PopID="101" ParentID="101_11" Caption="TK thuế hoạt động cho thuê tài sản (01/KK-TTS)" FormName="" Year="1" Month="0" ThreeMonth="1" Day="0" FinanceYear="0" Icon="..\Pictures\tk_tndn.bmp">
		<Validity StartDate="01/01/1900" InterfaceTemplate="..\InterfaceTemplates\excel\01_TNCN_TTS11.xls" ReportTemplate="..\ReportTemplates\excel\01_TNCN_TTS11.xls"  Class="Tax_Business_Srv.cls_01KK_TTS" >
			<Sheet ID="01" Caption="Tờ khai" Active="1" TemplateFolder="..\InterfaceTemplates\xml\" Folder="..\DataFiles\" DataFile="01_TNCN_TTS" InterfaceIni="..\InterfaceIni\01_TNCN_TTS.xml" ReportIni="..\ReportIni\01_TNCN_TTS.xml"/>
			<Sheet ID="KHBS" Caption="KHBS" Active="0" TemplateFolder="..\InterfaceTemplates\xml\" Folder="..\DataFiles\" DataFile="KHBS" Ini="..\Ini\KHBS.xml"/>
		</Validity>
	</Menu>
	<Menu ID="26" PopID="101" ParentID="104" Caption="Tờ khai 02/KK-BHĐC" FormName="" Year="1" Month="0" ThreeMonth="0" Day="0" FinanceYear="0" Icon="..\Pictures\tk_tncn.bmp">
		<Validity StartDate="01/01/1900" InterfaceTemplate="..\InterfaceTemplates\Excel\02_TNCN_BHDC11.xls" ReportTemplate="..\ReportTemplates\Excel\02_TNCN_BHDC11.xls" Class="Tax_Business_Srv.cls_02TNCN_BHDC">
			<Sheet ID="01" Caption="Tờ khai" Active="1" TemplateFolder="..\InterfaceTemplates\xml\" Folder="..\DataFiles\" DataFile="02_TNCN_BHDC13" Ini="..\Ini\02_TNCN_BHDC13.xml"/>
			<Sheet ID="KHBS" Caption="KHBS" Active="0" TemplateFolder="..\InterfaceTemplates\xml\" Folder="..\DataFiles\" DataFile="KHBS" Ini="..\Ini\KHBS.xml"/>
		</Validity>
	</Menu>
	<Menu ID="27" PopID="101" ParentID="109" Caption="Lưu chuyển tiền tệ (Gián tiếp)" FormName="" Year="1" Month="0" ThreeMonth="0" Day="0" FinanceYear="0" Icon="..\Pictures\tk_tncn.bmp">
		<Validity StartDate="14/09/2006" InterfaceTemplate="..\InterfaceTemplates\Excel\48_04_LCTTGT.xls" ReportTemplate="..\ReportTemplates\Excel\48_04_LCTTGT.xls" Class="Tax_Business_Srv.cls_48_04_LCTTGT">
			<Sheet ID="01" Caption="LCTTGT" Active="1" TemplateFolder="..\InterfaceTemplates\xml\" Folder="..\DataFiles\" DataFile="48_04_LCTTGT" Ini="..\Ini\48_04_LCTTGT.xml"/>
			<Sheet ID="KHBS" Caption="KHBS" Active="0" TemplateFolder="..\InterfaceTemplates\xml\" Folder="..\DataFiles\" DataFile="KHBS" Ini="..\Ini\KHBS.xml"/>
		</Validity>
	</Menu>
	<Menu ID="110" PopID="" ParentID="101" Caption="Báo cáo tài chính bộ 16 - Cho CTCK" FormName="" Year="1" Month="0" ThreeMonth="0" Day="0" FinanceYear="0" Icon="..\Pictures\kekhai.gif"/>
	<Menu ID="28" PopID="101" ParentID="110" Caption="Bảng cân đối kế toán" FormName="" Year="1" Month="0" ThreeMonth="0" Day="0" FinanceYear="0" Icon="..\Pictures\tk_tncn.bmp">
		<Validity StartDate="18/04/2007" InterfaceTemplate="..\InterfaceTemplates\Excel\16_01_CDKT.xls" ReportTemplate="..\ReportTemplates\Excel\16_01_CDKT.xls" Class="Tax_Business_Srv.cls_16_01_CDKT">
			<Sheet ID="01" Caption="CĐKT" Active="1" TemplateFolder="..\InterfaceTemplates\xml\" Folder="..\DataFiles\" DataFile="16_01_CDKT" Ini="..\Ini\16_01_CDKT.xml"/>
			<Sheet ID="KHBS" Caption="KHBS" Active="0" TemplateFolder="..\InterfaceTemplates\xml\" Folder="..\DataFiles\" DataFile="KHBS" Ini="..\Ini\KHBS.xml"/>
		</Validity>
	</Menu>
	<Menu ID="29" PopID="101" ParentID="110" Caption="Kết quả HĐSXKD" FormName="" Year="1" Month="0" ThreeMonth="0" Day="0" FinanceYear="0" Icon="..\Pictures\tk_tncn.bmp">
		<Validity StartDate="18/04/2007" InterfaceTemplate="..\InterfaceTemplates\Excel\16_02_SXKD.xls" ReportTemplate="..\ReportTemplates\Excel\16_02_SXKD.xls" Class="Tax_Business_Srv.cls_16_02_SXKD">
			<Sheet ID="01" Caption="KQHĐSXKD" Active="1" TemplateFolder="..\InterfaceTemplates\xml\" Folder="..\DataFiles\" DataFile="16_02_SXKD" Ini="..\Ini\16_02_SXKD.xml"/>
			<Sheet ID="KHBS" Caption="KHBS" Active="0" TemplateFolder="..\InterfaceTemplates\xml\" Folder="..\DataFiles\" DataFile="KHBS" Ini="..\Ini\KHBS.xml"/>
		</Validity>
	</Menu>
	<Menu ID="30" PopID="101" ParentID="110" Caption="Lưu chuyển tiền tệ (Trực tiếp)" FormName="" Year="1" Month="0" ThreeMonth="0" Day="0" FinanceYear="0" Icon="..\Pictures\tk_tncn.bmp">
		<Validity StartDate="18/04/2007" InterfaceTemplate="..\InterfaceTemplates\Excel\16_03_LCTTTT.xls" ReportTemplate="..\ReportTemplates\Excel\16_03_LCTTTT.xls" Class="Tax_Business_Srv.cls_16_03_LCTTTT">
			<Sheet ID="01" Caption="LCTTTT" Active="1" TemplateFolder="..\InterfaceTemplates\xml\" Folder="..\DataFiles\" DataFile="16_03_LCTTTT" Ini="..\Ini\16_03_LCTTTT.xml"/>
			<Sheet ID="KHBS" Caption="KHBS" Active="0" TemplateFolder="..\InterfaceTemplates\xml\" Folder="..\DataFiles\" DataFile="KHBS" Ini="..\Ini\KHBS.xml"/>
		</Validity>
	</Menu>
	<Menu ID="31" PopID="101" ParentID="110" Caption="Lưu chuyển tiền tệ (Gián tiếp)" FormName="" Year="1" Month="0" ThreeMonth="0" Day="0" FinanceYear="0" Icon="..\Pictures\tk_tncn.bmp">
		<Validity StartDate="18/04/2007" InterfaceTemplate="..\InterfaceTemplates\Excel\16_04_LCTTGT.xls" ReportTemplate="..\ReportTemplates\Excel\16_04_LCTTGT.xls" Class="Tax_Business_Srv.cls_16_04_LCTTGT">
			<Sheet ID="01" Caption="LCTTGT" Active="1" TemplateFolder="..\InterfaceTemplates\xml\" Folder="..\DataFiles\" DataFile="16_04_LCTTGT" Ini="..\Ini\16_04_LCTTGT.xml"/>
			<Sheet ID="KHBS" Caption="KHBS" Active="0" TemplateFolder="..\InterfaceTemplates\xml\" Folder="..\DataFiles\" DataFile="KHBS" Ini="..\Ini\KHBS.xml"/>
		</Validity>
	</Menu>
	<Menu ID="111" PopID="" ParentID="101" Caption="Báo cáo tài chính bộ 99 - Cho NH" FormName="" Year="1" Month="0" ThreeMonth="0" Day="0" FinanceYear="1" Icon="..\Pictures\kekhai.gif"/>
	<Menu ID="32" PopID="101" ParentID="101_9" Caption="Bảng cân đối kế toán" FormName="" Year="1" Month="0" ThreeMonth="0" Day="0" FinanceYear="0" Icon="..\Pictures\tk_tncn.bmp">
		<Validity StartDate="13/06/2000" InterfaceTemplate="..\InterfaceTemplates\Excel\99_01_CDKT.xls" ReportTemplate="..\ReportTemplates\Excel\99_01_CDKT.xls" Class="Tax_Business_Srv.cls_99_01_CDKT">
			<Sheet ID="01" Caption="CĐKT" Active="1" TemplateFolder="..\InterfaceTemplates\xml\" Folder="..\DataFiles\" DataFile="99_01_CDKT" Ini="..\Ini\99_01_CDKT.xml"/>
			<Sheet ID="KHBS" Caption="KHBS" Active="0" TemplateFolder="..\InterfaceTemplates\xml\" Folder="..\DataFiles\" DataFile="KHBS" Ini="..\Ini\KHBS.xml"/>
		</Validity>
	</Menu>
	<Menu ID="33" PopID="101" ParentID="101_9" Caption="Kết quả HĐSXKD" FormName="" Year="1" Month="0" ThreeMonth="1" Day="0" FinanceYear="0" Icon="..\Pictures\tk_tncn.bmp">
		<Validity StartDate="13/06/2000" InterfaceTemplate="..\InterfaceTemplates\Excel\99_02_SXKD.xls" ReportTemplate="..\ReportTemplates\Excel\99_02_SXKD.xls" Class="Tax_Business_Srv.cls_99_02_SXKD">
			<Sheet ID="01" Caption="phần I" Active="1" TemplateFolder="..\InterfaceTemplates\xml\" Folder="..\DataFiles\" DataFile="99_02_1_SXKD" Ini="..\Ini\99_02_1_SXKD.xml"/>
			<Sheet ID="02" Caption="phần II" Active="1" TemplateFolder="..\InterfaceTemplates\xml\" Folder="..\DataFiles\" DataFile="99_02_2_SXKD" Ini="..\Ini\99_02_2_SXKD.xml"/>
			<Sheet ID="03" Caption="phần III" Active="1" TemplateFolder="..\InterfaceTemplates\xml\" Folder="..\DataFiles\" DataFile="99_02_3_SXKD" Ini="..\Ini\99_02_3_SXKD.xml"/>
			<Sheet ID="KHBS" Caption="KHBS" Active="0" TemplateFolder="..\InterfaceTemplates\xml\" Folder="..\DataFiles\" DataFile="KHBS" Ini="..\Ini\KHBS.xml"/>
		</Validity>
	</Menu>
	<Menu ID="34" PopID="101" ParentID="101_9" Caption="Lưu chuyển tiền tệ (Trực tiếp)" FormName="" Year="1" Month="0" ThreeMonth="0" Day="0" FinanceYear="0" Icon="..\Pictures\tk_tncn.bmp">
		<Validity StartDate="13/06/2000" InterfaceTemplate="..\InterfaceTemplates\Excel\99_03_LCTTTT.xls" ReportTemplate="..\ReportTemplates\Excel\99_03_LCTTTT.xls" Class="Tax_Business_Srv.cls_99_03_LCTTTT">
			<Sheet ID="01" Caption="LCTTTT" Active="1" TemplateFolder="..\InterfaceTemplates\xml\" Folder="..\DataFiles\" DataFile="99_03_LCTTTT" Ini="..\Ini\99_03_LCTTTT.xml"/>
			<Sheet ID="KHBS" Caption="KHBS" Active="0" TemplateFolder="..\InterfaceTemplates\xml\" Folder="..\DataFiles\" DataFile="KHBS" Ini="..\Ini\KHBS.xml"/>
		</Validity>
	</Menu>
	<Menu ID="35" PopID="101" ParentID="101_9" Caption="Lưu chuyển tiền tệ (Gián tiếp)" FormName="" Year="1" Month="0" ThreeMonth="0" Day="0" FinanceYear="0" Icon="..\Pictures\tk_tncn.bmp">
		<Validity StartDate="13/06/2000" InterfaceTemplate="..\InterfaceTemplates\Excel\99_04_LCTTGT.xls" ReportTemplate="..\ReportTemplates\Excel\99_04_LCTTGT.xls" Class="Tax_Business_Srv.cls_99_04_LCTTGT">
			<Sheet ID="01" Caption="LCTTGT" Active="1" TemplateFolder="..\InterfaceTemplates\xml\" Folder="..\DataFiles\" DataFile="99_04_LCTTGT" Ini="..\Ini\99_04_LCTTGT.xml"/>
			<Sheet ID="KHBS" Caption="KHBS" Active="0" TemplateFolder="..\InterfaceTemplates\xml\" Folder="..\DataFiles\" DataFile="KHBS" Ini="..\Ini\KHBS.xml"/>
		</Validity>
	</Menu>
	
	
	<Menu ID="107" PopID="1" ParentID="110" Caption="Đăng ký danh mục">
		<Validity StartDate="01/01/1900">
			<Sheet ID="01" Caption="Biểu thuế tài nguyên" Active="1" TemplateFolder="..\InterfaceTemplates\xml\" DataFile="Catalogue_011900_01"/>
			<Sheet ID="02" Caption="Biểu thuế tiêu thụ đặc biệt" Active="1" TemplateFolder="..\InterfaceTemplates\xml\" DataFile="Catalogue_011900_02"/>
		</Validity>
		<Validity StartDate="01/01/2007">
			<Sheet ID="01" Caption="Biểu thuế tài nguyên" Active="1" TemplateFolder="..\InterfaceTemplates\xml\" DataFile="Catalogue_012007_01"/>
			<Sheet ID="02" Caption="Biểu thuế tiêu thụ đặc biệt" Active="1" TemplateFolder="..\InterfaceTemplates\xml\" DataFile="Catalogue_012007_02"/>
		</Validity>
		<Validity StartDate="01/01/2008">
			<Sheet ID="01" Caption="Biểu thuế tài nguyên" Active="1" TemplateFolder="..\InterfaceTemplates\xml\" DataFile="Catalogue_012008_01"/>
			<Sheet ID="02" Caption="Biểu thuế tiêu thụ đặc biệt" Active="1" TemplateFolder="..\InterfaceTemplates\xml\" DataFile="Catalogue_012008_02"/>
		</Validity>
		<Validity StartDate="01/05/2008">
			<Sheet ID="01" Caption="Biểu thuế tài nguyên" Active="1" TemplateFolder="..\InterfaceTemplates\xml\" DataFile="Catalogue_052008_01"/>
			<Sheet ID="02" Caption="Biểu thuế tiêu thụ đặc biệt" Active="1" TemplateFolder="..\InterfaceTemplates\xml\" DataFile="Catalogue_052008_02"/>
		</Validity>
		<Validity StartDate="01/01/2009">
			<Sheet ID="01" Caption="Biểu thuế tài nguyên" Active="1" TemplateFolder="..\InterfaceTemplates\xml\" DataFile="Catalogue_012009_01"/>
			<Sheet ID="02" Caption="Biểu thuế tiêu thụ đặc biệt" Active="1" TemplateFolder="..\InterfaceTemplates\xml\" DataFile="Catalogue_012009_02"/>
		</Validity>
		<Validity StartDate="01/06/2009">
			<Sheet ID="01" Caption="Biểu thuế tài nguyên" Active="1" TemplateFolder="..\InterfaceTemplates\xml\" DataFile="Catalogue_062009_01"/>
			<Sheet ID="02" Caption="Biểu thuế tiêu thụ đặc biệt" Active="1" TemplateFolder="..\InterfaceTemplates\xml\" DataFile="Catalogue_062009_02"/>
		</Validity>
		<Validity StartDate="01/01/2010">
			<Sheet ID="01" Caption="Biểu thuế tài nguyên" Active="1" TemplateFolder="..\InterfaceTemplates\xml\" DataFile="Catalogue_012010_01"/>
			<Sheet ID="02" Caption="Biểu thuế tiêu thụ đặc biệt" Active="1" TemplateFolder="..\InterfaceTemplates\xml\" DataFile="Catalogue_012010_02"/>
		</Validity>
		<Validity StartDate="01/04/2010">
			<Sheet ID="01" Caption="Biểu thuế tài nguyên" Active="1" TemplateFolder="..\InterfaceTemplates\xml\" DataFile="Catalogue_042010_01"/>
			<Sheet ID="02" Caption="Biểu thuế tiêu thụ đặc biệt" Active="1" TemplateFolder="..\InterfaceTemplates\xml\" DataFile="Catalogue_042010_02"/>
		</Validity>
		<Validity StartDate="01/07/2010">
			<Sheet ID="01" Caption="Biểu thuế tài nguyên" Active="1" TemplateFolder="..\InterfaceTemplates\xml\" DataFile="Catalogue_072010_01"/>
			<Sheet ID="02" Caption="Biểu thuế tiêu thụ đặc biệt" Active="1" TemplateFolder="..\InterfaceTemplates\xml\" DataFile="Catalogue_072010_02"/>
		</Validity>
		<Validity StartDate="01/01/2013">
			<Sheet ID="01" Caption="Biểu thuế tài nguyên" Active="1" TemplateFolder="..\InterfaceTemplates\xml\" DataFile="Catalogue_012013_01"/>
			<Sheet ID="02" Caption="Biểu thuế tiêu thụ đặc biệt" Active="1" TemplateFolder="..\InterfaceTemplates\xml\" DataFile="Catalogue_012013_02"/>
		</Validity>
		<Validity StartDate="01/02/2014">
			<Sheet ID="01" Caption="Biểu thuế tài nguyên" Active="1" TemplateFolder="..\InterfaceTemplates\xml\" DataFile="Catalogue_022014_01"/>
			<Sheet ID="02" Caption="Biểu thuế tiêu thụ đặc biệt" Active="1" TemplateFolder="..\InterfaceTemplates\xml\" DataFile="Catalogue_022014_02"/>
		</Validity>
	</Menu>
	<Menu ID="07" PopID="101" ParentID="112" Caption="Thông báo phát hành biên lai thu phí, lệ phí " FormName="" Year="1" Month="0" ThreeMonth="0" Day="0" FinanceYear="0" Icon="..\Pictures\tk_tndn.bmp" FileName="" >
		<Validity StartDate="01/01/2009" InterfaceTemplate="..\InterfaceTemplates\excel\01_TBAC_BLP.xls" ReportTemplate="..\ReportTemplates\excel\01_TBAC_BLP.xls" Class="Tax_Business_Srv.cls_01_TBAC_BLP">
			<Sheet ID="01" Caption="01_TBAC_BLP" Active="1" TemplateFolder="..\InterfaceTemplates\xml\" Folder="..\DataFiles\" DataFile="01_TBAC_BLP" Ini="..\Ini\01_TBAC_BLP.xml" ReportIni="..\ReportIni\01_TBAC_BLP.xml"/>
			<Sheet ID="KHBS" Caption="KHBS" Active="0" TemplateFolder="..\InterfaceTemplates\xml\" Folder="..\DataFiles\" DataFile="KHBS" Ini="..\Ini\KHBS.xml" ReportIni="..\ReportIni\KHBS.xml"/>
		</Validity>
	</Menu>
	<Menu ID="09" PopID="101" ParentID="112" Caption="Báo cáo mất,cháy,hỏng biên lai thu phí, lệ phí " FormName="" Year="1" Month="0" ThreeMonth="1" Day="0" FinanceYear="0" Icon="..\Pictures\tk_tndn.bmp" >
		<Validity StartDate="01/01/2010" InterfaceTemplate="..\InterfaceTemplates\excel\BC21_AC_BLP.xls" ReportTemplate="..\ReportTemplates\excel\BC21_AC_BLP.xls" Class="Tax_Business_Srv.cls_BC21_AC_BLP">
			<Sheet ID="01" Caption="BC21_AC_BLP" Active="1" TemplateFolder="..\InterfaceTemplates\xml\" Folder="..\DataFiles\" DataFile="BC21_AC_BLP" Ini="..\Ini\BC21_AC_BLP.xml" ReportIni="..\ReportIni\BC21_AC_BLP.xml"/>
			<Sheet ID="KHBS" Caption="KHBS" Active="0" TemplateFolder="..\InterfaceTemplates\xml\" Folder="..\DataFiles\" DataFile="KHBS" Ini="..\Ini\KHBS.xml" ReportIni="..\ReportIni\KHBS.xml"/>
		</Validity>
	</Menu>
	<Menu ID="10" PopID="101" ParentID="112" Caption="Thông báo kết quả hủy biên lai thu phí, lệ phí " FormName="" Year="1" Month="0" ThreeMonth="1" Day="0" FinanceYear="0" Icon="..\Pictures\tk_tndn.bmp" >
		<Validity StartDate="01/01/2010" InterfaceTemplate="..\InterfaceTemplates\excel\03_TBAC_BLP.xls" ReportTemplate="..\ReportTemplates\excel\03_TBAC_BLP.xls" Class="Tax_Business_Srv.cls_03_TBAC_BLP">
			<Sheet ID="01" Caption="03_TBAC_BLP" Active="1" TemplateFolder="..\InterfaceTemplates\xml\" Folder="..\DataFiles\" DataFile="03_TBAC_BLP" Ini="..\Ini\03_TBAC_BLP.xml" ReportIni="..\ReportIni\03_TBAC_BLP.xml"/>
			<Sheet ID="KHBS" Caption="KHBS" Active="0" TemplateFolder="..\InterfaceTemplates\xml\" Folder="..\DataFiles\" DataFile="KHBS" Ini="..\Ini\KHBS.xml" ReportIni="..\ReportIni\KHBS.xml"/>
		</Validity>
	</Menu>
	<Menu ID="13" PopID="101" ParentID="112" Caption="Báo cáo tình hình nhận in biên lai thu phí, lệ phí" FormName="" Year="1" Month="0" ThreeMonth="1" Day="0" FinanceYear="0" Icon="..\Pictures\tk_tncn.bmp">
		<Validity StartDate="01/01/2009" InterfaceTemplate="..\InterfaceTemplates\excel\01_AC_BLP.xls" ReportTemplate="..\ReportTemplates\Excel\01_AC_BLP.xls" Class="Tax_Business_Srv.cls_01_AC_BLP">
			<Sheet ID="01" Caption="01_AC_BLP" Active="1" TemplateFolder="..\InterfaceTemplates\xml\" Folder="..\DataFiles\" DataFile="01_AC_BLP" Ini="..\Ini\01_AC_BLP.xml"/>
			<Sheet ID="KHBS" Caption="KHBS" Active="0" TemplateFolder="..\InterfaceTemplates\xml\" Folder="..\DataFiles\" DataFile="KHBS" InterfaceIni="..\InterfaceIni\KHBS.xml"/>
		</Validity>
	</Menu>
</Root>
