<?xml version="1.0" encoding="UTF-8"?>
<Config>
	<!-- Doan nay cau hinh de ket noi voi webservices cua ESB -->
	<WsUrlNSD>aHR0cDovLzEwMS42NC4xMTIuMTU1OjcwODAvd3NDQlRWZXJpZnk=</WsUrlNSD>
	<SoapActionNSD>aHR0cDovL3RlbXB1cmkub3JnL3ZlcmlmeQ==</SoapActionNSD>
	<XmlRequestNSD>PHNvYXBlbnY6RW52ZWxvcGUgeG1sbnM6c29hcGVudj0iaHR0cDovL3NjaGVtYXMueG1sc29hcC5vcmcvc29hcC9lbnZlbG9wZS8iIHhtbG5zOnEwPSJodHRwOi8vdGVtcHVyaS5vcmcvRVNCX1RDVF9JTlRFUk5BTF9NU0ciIHhtbG5zOnhzZD0iaHR0cDovL3d3dy53My5vcmcvMjAwMS9YTUxTY2hlbWEiIHhtbG5zOnhzaT0iaHR0cDovL3d3dy53My5vcmcvMjAwMS9YTUxTY2hlbWEtaW5zdGFuY2UiPiAgICA8c29hcGVudjpCb2R5PiAgICAgICAgPHEwOlVzZXJWZXJpZnlXU1JlcXVlc3Q+c3RyaW5nPC9xMDpVc2VyVmVyaWZ5V1NSZXF1ZXN0PiAgICA8L3NvYXBlbnY6Qm9keT48L3NvYXBlbnY6RW52ZWxvcGU+</XmlRequestNSD>
	<ParamNameNSD>VXNlclZlcmlmeVdTUmVxdWVzdA==</ParamNameNSD>
	<WsUrlNNT>aHR0cDovLzEwMS42NC4xMTIuMTU1OjcwODAvd3NEYW5nS3lUaHVl</WsUrlNNT>
	<SoapActionNNT>aHR0cDovL2dkdC5nb3Yudm4vZ2V0Tk5U</SoapActionNNT>
	<XmlRequestNNT>PHNvYXBlbnY6RW52ZWxvcGUgeG1sbnM6c29hcGVudj0iaHR0cDovL3NjaGVtYXMueG1sc29hcC5vcmcvc29hcC9lbnZlbG9wZS8iIHhtbG5zOnEwPSJodHRwOi8vdGVtcHVyaS5vcmcvRVNCX1RDVF9JTlRFUk5BTF9NU0ciIHhtbG5zOnhzZD0iaHR0cDovL3d3dy53My5vcmcvMjAwMS9YTUxTY2hlbWEiIHhtbG5zOnhzaT0iaHR0cDovL3d3dy53My5vcmcvMjAwMS9YTUxTY2hlbWEtaW5zdGFuY2UiPiAgICA8c29hcGVudjpCb2R5PiAgICAgICAgPHEwOk5OVFdTUmVxdWVzdD5zdHJpbmc8L3EwOk5OVFdTUmVxdWVzdD4gICAgPC9zb2FwZW52OkJvZHk+PC9zb2FwZW52OkVudmVsb3BlPg==</XmlRequestNNT>
	<ParamNameNNT>Tk5UV1NSZXF1ZXN0</ParamNameNNT>
	<WsUrlDLT>aHR0cDovLzEwMS42NC4xMTIuMTU1OjcwODAvd3NEYW5nS3lUaHVl</WsUrlDLT>
	<SoapActionDLT>aHR0cDovL2dkdC5nb3Yudm4vZ2V0RExU</SoapActionDLT>
	<XmlRequestDLT>PHNvYXBlbnY6RW52ZWxvcGUgeG1sbnM6c29hcGVudj0iaHR0cDovL3NjaGVtYXMueG1sc29hcC5vcmcvc29hcC9lbnZlbG9wZS8iIHhtbG5zOnEwPSJodHRwOi8vdGVtcHVyaS5vcmcvRVNCX1RDVF9JTlRFUk5BTF9NU0ciIHhtbG5zOnhzZD0iaHR0cDovL3d3dy53My5vcmcvMjAwMS9YTUxTY2hlbWEiIHhtbG5zOnhzaT0iaHR0cDovL3d3dy53My5vcmcvMjAwMS9YTUxTY2hlbWEtaW5zdGFuY2UiPiAgICA8c29hcGVudjpCb2R5PiAgICAgICAgPHEwOkRMVFdTUmVxdWVzdD5zdHJpbmc8L3EwOkRMVFdTUmVxdWVzdD4gICAgPC9zb2FwZW52OkJvZHk+PC9zb2FwZW52OkVudmVsb3BlPg==</XmlRequestDLT>
	<ParamNameDLT>RExUV1NSZXF1ZXN0</ParamNameDLT>
	<!-- **** Ket thuc ket noi voi webservices cua ESB **** -->
	<!-- Doan nay cau hinh cho phan Header cua message gui tin len ESB -->
	<VERSION>MS4w</VERSION>
	<SENDER_CODE>TlRL</SENDER_CODE>
	<SENDER_NAME>SGUgdGhvbmcgbmhhbiB0byBraGFpIG1hIHZhY2g=</SENDER_NAME>
	<RECEIVER_CODE>VE1T</RECEIVER_CODE>
	<RECEIVER_NAME>SGUgdGhvbmcgcXVhbiBseSB0aHVlIHRhcCB0cnVuZw==</RECEIVER_NAME>
	<TRAN_CODE>MDEwMDA=</TRAN_CODE>
	<ORIGINAL_CODE>TlRL</ORIGINAL_CODE>
	<ORIGINAL_NAME>SGUgdGhvbmcgbmhhbiB0byBraGFpIG1hIHZhY2g=</ORIGINAL_NAME>
	<!-- Doan nay cau hinh cho phan MQ push data len ESB -->
	<queue_manager_name>RVNCLklOVC5RTUdS</queue_manager_name>
	<queue_name>SU5ULklOQk9YLlFVRVVF</queue_name>
	<!-- Cac cau hinh khac -->
	<!--ID BCTC va AC bo sung QHS -->
	<BCTC>Njk7MTk7MjA7MjE7MjI=</BCTC>
	<QLAC>NjQ7NjU7NjY7Njc7Njg7OTE=</QLAC>
</Config>
